.charhitbox {
  font-size: 8rem;
  padding: 0rem;
  position: relative;
  background-color: #502323;
  left: 100%;
  opacity: 0;
  color: white;
}

.napis {
  overflow: visible;
  height: 10rem;
  position: absolute;
}

.napis g {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

.napis g rect {
  -webkit-transition: all 1500ms cubic-bezier(0.14, 0.5, 0, 1.35);
  transition: all 1500ms cubic-bezier(0.14, 0.5, 0, 1.35);
}

.napis g:nth-child(2) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.napis g:nth-child(3) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.napis g:nth-child(4) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

.napis g:nth-child(5) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

@media screen and (max-width: 900px) {
  .napis {
    height: 8rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .charhitbox {
    font-size: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .napis {
    height: 3.5rem;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .charhitbox {
    font-size: 3rem;
  }
}
