:root {
  --primary: #1b2c4b;
  --primary-text: #fff;
  --primary-light: #5d9cec;
  --primary-dark: #004488;
  --secondary: #ffc107;
  --secondary-text: #111;
  --secondary-light: #fff350;
  --darkgray: #222;
  --content-background: #e2e2e2;
}

.primary-color {
  color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

main {
  overflow-y: scroll;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
  position: relative;
  display: block;
}

main > header {
  position: absolute;
  width: 100%;
  opacity: 0.8;
  z-index: 200;
}

main .topper {
  scroll-snap-align: start;
  scroll-margin: 5rem;
}

main .topper .particles-wrap {
  padding: 1rem;
  height: 100vh;
  background-image: url("../assets/img/topper-bckg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

main .topper .particles-wrap .napis {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .topper .particles-wrap > .box2,
main .topper .particles-wrap .box3 {
  z-index: 2;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .topper .particles-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#16222a, #3a6073);
  opacity: 0.6;
}

main .topper .particles-wrap > canvas {
  z-index: 1;
}

main .content-first {
  scroll-snap-align: start;
  background-color: var(--primary-dark);
  color: var(--primary-text);
  font-family: "Roboto", sans-serif;
}
