@import url(" https:fonts.googleapis.com/css?family=Anton|Roboto|Russo+One&display=swap");
:root {
  --primary: #1b2c4b;
  --primary-text: #fff;
  --primary-light: #5d9cec;
  --primary-dark: #004488;
  --secondary: #ffc107;
  --secondary-text: #111;
  --secondary-light: #fff350;
  --darkgray: #222;
  --content-background: #e2e2e2;
}

.primary-color {
  color: var(--primary);
}

.secondary-color {
  color: var(--secondary);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  display: inherit;
  padding: 0;
  margin: 0;
}

main {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6rem 1fr 4rem;
      grid-template-rows: 6rem 1fr 4rem;
}

main > header {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  height: 96px;
  z-index: 200;
  color: var(--primary-text);
  background: radial-gradient(circle, #1b2c4b 0%, black 100%);
  border-bottom: 3px solid;
  -o-border-image: linear-gradient(90deg, #ad2845 0%, #7c36be 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#ad2845), to(#7c36be)) 1;
     border-image: linear-gradient(90deg, #ad2845 0%, #7c36be 100%) 1;
}

main > header.expand {
  height: 300px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

main .content {
  background-color: var(--content-background);
}

main .content.game {
  height: calc(100vh - 96px);
}

main footer {
  color: #fff;
  background-color: var(--darkgray);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 3px solid;
  -o-border-image: linear-gradient(90deg, #7c36be 0%, #ad2845 100%) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(#7c36be), to(#ad2845)) 1;
     border-image: linear-gradient(90deg, #7c36be 0%, #ad2845 100%) 1;
}

main footer > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main footer .footer-textWrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .footer-textWrap > i {
  display: none;
}

main footer .footer-contact {
  margin-right: unset;
  color: #ffffff80;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

main footer .footer-contact > a {
  margin-left: 1rem;
}

main footer .footer-contact > a:hover {
  color: #ffffffbb;
}

main footer i {
  margin-right: 1rem;
}

nav {
  font-family: "Anton", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  height: 100%;
  position: relative;
}

nav .menu-hamburger {
  z-index: 201;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 23px;
  right: 25px;
  font-size: 48px;
}

nav .menu-hamburger > .menu {
  display: block;
}

nav .menu-hamburger > .close {
  display: none;
}

nav ul {
  position: absolute;
  top: 0;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  overflow: visible;
}

nav ul.expand {
  -webkit-transform: none;
          transform: none;
}

nav ul .navItem {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  z-index: 100;
  background-color: #182848;
}

@media only screen and (min-width: 991px) {
  nav input {
    display: none;
  }
  nav .menu-hamburger {
    display: none;
  }
  nav ul {
    width: 100%;
    padding: 1rem 5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transform: none;
            transform: none;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    list-style: none;
  }
  nav ul .navItem {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    border-top: 5px solid;
    -o-border-image: linear-gradient(45deg, #ad2b2b 0%, #2727af 51%, #088f72 100%) 1;
       border-image: linear-gradient(45deg, #ad2b2b 0%, #2727af 51%, #088f72 100%) 1;
    padding: 10px;
    height: 4rem;
    width: 200px;
    background-color: var(--primary-light);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  nav ul .navItem li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  nav ul .navItem p {
    margin-left: 10px;
  }
  nav ul .navItem:not(:first-child) {
    margin-left: 1rem;
  }
  nav ul .navItem:last-child {
    width: 150px;
    background-color: var(--secondary);
    -ms-grid-column-align: end;
        justify-self: end;
    margin-left: auto;
  }
  nav ul .navItem:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  main footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main footer .footer-contact {
    margin-right: auto;
  }
  main footer .footer-textWrap > i {
    display: block;
  }
}
