@import "grid2-colors";

// Gallery styles
.gallery {
    padding: 1rem;
    display: grid;
    grid-auto-flow: dense;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;

    > .card {
        //card styling
        color: #fff;
        background: linear-gradient(270deg, #4d4d4d 0%, #222 100%);
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);

        // zindex for every child
        * {
            z-index: 3;
        }

        //picture styling
        > .image-container {
            user-select: none;
            display: block;
            position: relative;
            cursor: pointer;
            transition: all 0.5s ease;
            z-index: 1;
            height: calc(100%);
            width: 100%;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                border-bottom: 3px solid;
                border-image: linear-gradient(
                        90deg,
                        rgba(133, 9, 249, 1) 0%,
                        rgba(166, 37, 167, 1) 100%
                    )
                    1;
            }
        }

        //overlay
        .image-container:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(
                circle,
                rgba(159, 181, 203, 0) 0%,
                rgba(0, 38, 74, 0.4) 100%
            );
            z-index: 0;
        }
        .image-container:active:after {
            transition: all 1s ease;
            background-image: radial-gradient(
                circle,
                rgba(159, 181, 203, 0) 0%,
                rgba(0, 38, 74, 0.6) 90%
            );
        }

        //changing max height of the container on hover, and hilighting author
        .image-container:hover {
            ~ .author {
                color: #fff;
            }
        }

        //author styling
        .author {
            transition: color 0.5s ease;
            color: #ffffffaa;
            text-shadow: 2px 4px 8px #000000;
            font-family: "Russo One", sans-serif;
            font-size: 2rem;
            position: absolute;
            background-color: transparent;
            top: 10px;
            left: 10px;
        }

        //Title styling
        .title,
        .desc {
            padding-left: 0.5rem;
        }
        .title {
            padding-top: 0.2rem;
        }
        // descryption styling
        .desc {
            color: rgba(255, 255, 255, 0.68);
        }
    }
    > .card:hover {
        > .image-container {
            height: calc(100% - 2rem);
        }
    }
}

@media only screen and (min-width: 991px) {
    .gallery {
        padding: 2rem 5rem;
        > .card {
            &.wide {
                grid-column: span 2;
            }
            &.big {
                grid-column: span 2;
                grid-row: span 2;
            }
            &.tall {
                grid-row: span 2;
            }
        }
    }
}
