@import "grid2-colors";

@import url(" https:fonts.googleapis.com/css?family=Anton|Roboto|Russo+One&display=swap"); // ??
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    display: inherit;
    padding: 0;
    margin: 0;
}

// Main Layout styles
main {
    height: 100%;
    display: grid;
    grid-template-rows: 6rem 1fr 4rem;
    > header {
        transition: 0.3s ease-out;
        height: 96px;
        z-index: 200;
        color: v(primary-text);
        background: radial-gradient(
            circle,
            rgba(27, 44, 75, 1) 0%,
            rgb(0, 0, 0) 100%
        );
        border-bottom: 3px solid;
        border-image: linear-gradient(
                90deg,
                rgb(173, 40, 69) 0%,
                rgb(124, 54, 190) 100%
            )
            1;
        &.expand {
            height: 300px;
            transition: 0.5s ease-out;
        }
    }
    .content {
        background-color: v(content-background);

        &.game {
            height: calc(100vh - 96px);
        }
    }
    footer {
        color: #fff;
        background-color: v(darkgray);
        padding: 10px;
        display: flex;
        flex-direction: column;

        border-top: 3px solid;
        border-image: linear-gradient(
                90deg,
                rgb(124, 54, 190) 0%,
                rgb(173, 40, 69) 100%
            )
            1;

        > * {
            align-self: center;
            height: fit-content;
        }
        .footer-textWrap {
            display: inline-flex;
            align-items: center;
            > i {
                display: none;
            }
        }
        .footer-contact {
            margin-right: unset;
            color: #ffffff80;
            display: inline-flex;
            > a {
                margin-left: 1rem;
                &:hover {
                    color: #ffffffbb;
                }
            }
        }

        i {
            margin-right: 1rem;
        }
    }
}

nav {
    font-family: "Anton", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    height: 100%;
    position: relative;

    .menu-hamburger {
        z-index: 201;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 23px;
        right: 25px;

        font-size: 48px;

        // background-color: red;

        > .menu {
            display: block;
        }
        > .close {
            display: none;
        }
    }

    ul {
        position: absolute;
        top: 0;
        z-index: 100;
        transition: transform 0.5s ease;
        transform: translatey(-100%);
        &.expand {
            transform: none;
        }
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        overflow: visible;
        .navItem {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 1rem 0;
            z-index: 100;
            background-color: #182848;
        }
    }
}

@media only screen and (min-width: 991px) {
    //only for bigger screens
    nav {
        input {
            display: none;
        }
        .menu-hamburger {
            display: none;
        }
        ul {
            width: 100%;
            padding: 1rem 5rem;
            display: inline-flex;
            transform: none;
            flex-direction: initial;
            list-style: none;

            .navItem {
                transition: all 0.2s ease;
                cursor: pointer;

                //----------------Border gradient on top of buttons -------------------
                border-top: 5px solid;

                border-image: linear-gradient(
                        45deg,
                        rgba(173, 43, 43, 1) 0%,
                        rgba(39, 39, 175, 1) 51%,
                        rgba(8, 143, 114, 1) 100%
                    )
                    1;
                //--------End OF-Border gradient on top of buttons -------------------

                padding: 10px;
                height: 4rem;
                width: 200px;
                background-color: v(primary-light);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                    0 6px 6px rgba(0, 0, 0, 0.23);

                li {
                    display: flex;
                    width: 100%;
                    height: 100%;
                }

                // Add margin for text in p elements
                p {
                    margin-left: 10px;
                }

                // Add left margin to everything on nav
                &:not(:first-child) {
                    margin-left: 1rem;
                }

                // Logout on far right
                &:last-child {
                    width: 150px;
                    background-color: v(secondary);
                    justify-self: end;
                    margin-left: auto;
                }

                // Scale effect on hover
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
    main {
        footer {
            flex-direction: row;
            .footer-contact {
                margin-right: auto;
            }
            .footer-textWrap {
                > i {
                    display: block;
                }
            }
        }
    }
}
