//------------- Colors ---------------

@function v($var) {
    @return var(--#{$var});
}

:root {
    --primary: #1b2c4b;
    --primary-text: #fff;
    --primary-light: #5d9cec;
    --primary-dark: #004488;
    --secondary: #ffc107;
    --secondary-text: #111;
    --secondary-light: #fff350;
    --darkgray: #222;
    --content-background: #070b12;
}

.primary-color {
    color: v(primary);
}

.secondary-color {
    color: v(secondary);
}
