@import "grid2-colors";

// --------------Landing page----------------

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    width: max-content;
    height: 100%;
    display: inline-block;
}

// --------------- NAVBAR index.html----------------------

.navBarWrap {
    display: flex;
    justify-content: center;

    .navBarList {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1.5rem 0;
        padding: 0;
        height: max-content;
        width: max-content;

        overflow: hidden;

        .nav--button {
            margin: 0 4rem;
            color: #f1f1f1;
            font-family: "Squada One";
            font-size: 2.3rem;
            text-transform: uppercase;

            transform: translatey(-100%);
            animation: slide-in-top 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275)
                forwards;

            width: 10rem;
            height: 4rem;

            text-align: center;
            line-height: 4rem;
            transition: all 0.1s ease;

            cursor: pointer;
            user-select: none;

            &.active {
                color: v(secondary);
            }
            &:active {
                transition: background-color 0.5ms;
                background: #44444466;
            }
        }
    }
}

main {
    height: 100%;

    > header {
        transition: 0.3s ease-out;
        height: 112px;
        z-index: 200;
        color: v(primary-text);
        background: radial-gradient(
            circle,
            rgba(27, 44, 75, 1) 0%,
            rgb(0, 0, 0) 100%
        );
        border-bottom: 3px solid;
        border-image: linear-gradient(
                90deg,
                rgb(173, 40, 69) 0%,
                rgb(124, 54, 190) 100%
            )
            1;
        &.expand {
            height: 300px;
            transition: 0.5s ease-out;
        }
    }

    .topper {
        height: 100vh;
        scroll-snap-align: start;
        scroll-margin: 5rem;
        .particles-wrap {
            height: 100vh;
            background-image: url("../assets/img/topper-bckg.jpg");
            background-position: center;
            background-size: cover;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;

            .napis {
                transform: translate(-50%, -50%);
            }

            > .box2,
            .box3 {
                z-index: 2;
                position: absolute;
                user-select: none;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: radial-gradient(#16222a, #3a6073);
                opacity: 0.6;
            }
            > canvas {
                z-index: 1;
            }
        }
    }

    .content {
        background-color: v(content-background);
        position: relative;

        min-height: calc(100vh - 112px - 47px);
    }
    footer {
        color: #fff;
        background-color: v(darkgray);
        padding: 10px;
        display: flex;
        flex-direction: column;

        border-top: 3px solid;
        border-image: linear-gradient(
                90deg,
                rgb(124, 54, 190) 0%,
                rgb(173, 40, 69) 100%
            )
            1;

        > * {
            align-self: center;
            height: fit-content;
        }
        .footer-textWrap {
            display: inline-flex;
            align-items: center;
            > i {
                display: none;
            }
        }
        .footer-contact {
            margin-right: unset;
            color: #ffffff80;
            display: inline-flex;
            > a {
                margin-left: 1rem;
                &:hover {
                    color: #ffffffbb;
                }
            }
        }

        i {
            margin-right: 1rem;
        }
    }
}

.aboutme {
    min-height: calc(100vh - 112px - 47px);

    display: flex;
    height: 100%;
    .info {
        background-image: url("../assets/img/info-bckg.jpg");
        background-size: cover;

        padding: 3rem;
        color: whitesmoke;

        // border-right: 3px solid;
        // border-image: linear-gradient(179deg, #a32a5d 0%, #8533a6 100%) 1;
        box-shadow: inset 0px 0px 20px 8px #000000;

        display: flex;
        flex-direction: column;

        align-items: center;

        .info-face {
            display: flex;
            justify-content: center;
            align-items: center;

            overflow: hidden;

            height: 250px;
            width: 250px;
            background-color: whitesmoke;
            border-radius: 50%;

            border: 2px solid #a52b5a;

            box-shadow: 5px 5px 10px #0000006b;
        }

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
            margin: 1rem 0rem;
            letter-spacing: 2px;
            text-shadow: 5px 5px 5px black;
        }
    }
    .board {
        padding: 3rem;
        background-color: v(content-background);
        flex: 1;

        display: flex;

        overflow: hidden;
        .card-stack {
            display: inline-flex;
            position: relative;
            width: 400px;
            height: 500px;

            .card {
                position: absolute;
                height: 500px;
                width: 360px;

                background-color: #08091d;
                color: whitesmoke;
                box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.315);

                p {
                    padding: 2rem;
                    text-align: center;
                }

                .img-container {
                    background: linear-gradient(
                        180deg,
                        rgba(44, 8, 91, 1) 0%,
                        rgb(58, 13, 117) 100%
                    );
                    display: flex;
                    justify-content: center;

                    border-bottom: 2px solid v(secondary);

                    image-rendering: -webkit-optimize-contrast;
                    image-rendering: crisp-edges;
                }

                button {
                    padding: 10px 20px;
                    border-radius: 20px;
                    background-color: transparent;
                    color: white;
                    border: 2px solid white;

                    cursor: pointer;

                    float: right;
                    margin: 0 2rem;

                    &:active {
                        background-color: #ffffff17;
                        transform: translate(2px, 2px);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                &:nth-child(1) {
                    z-index: 3;
                }
                &:nth-child(2) {
                    z-index: 2;
                    transform: translate(10px, 10px);

                    background-color: #191b3b;

                    &.active {
                        transform: translate(100%, 10px);
                    }
                }
                &:nth-child(3) {
                    z-index: 1;
                    transform: translate(20px, 20px);

                    &.active {
                        transform: translate(200%, 0px);
                    }
                }

                transition: all 0.5s ease;
            }
        }

        .tech {
            height: 500px;
            width: 500px;
            margin: 0 2rem;
            color: whitesmoke;
            background: linear-gradient(0deg, #2f0961, transparent);

            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.315);

            line-height: 1.5rem;

            .tech-background {
                height: 100%;
                width: 100%;
                background-image: url("../projekty/spaceship.png");
                background-size: cover;
                padding: 2rem;
                background-repeat: no-repeat;
                background-position: 85px 65px;

                > div {
                    width: 60%;
                    text-align: center;
                }
            }

            .tech-section {
                margin-bottom: 1rem;
            }

            h1 {
                margin-bottom: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 1570px) {
    .aboutme > .info {
        padding: 1.3rem;
    }
    .card-stack > .card {
        height: 545px !important;
        width: 290px !important;
        font-size: 15px;
    }

    .tech {
        height: 545px !important;
    }
}

@media only screen and (max-width: 1330px) {
    .aboutme {
        flex-direction: column;

        .info {
            flex-direction: row;
            justify-content: space-around;
            border-right: none;
        }

        .board {
            height: 800px;
            flex: auto;
        }
    }
}

@media only screen and (min-width: 991px) {
    //only for bigger screens

    main {
        footer {
            flex-direction: row;
            .footer-contact {
                margin-right: auto;
            }
            .footer-textWrap {
                > svg {
                }
            }
        }
    }
}

@keyframes slide-in-top {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
