@import "grid2-colors";

.wrapper {
    margin: auto;
    max-width: 1280px;
}

.stage {
    display: flex;

    align-items: center;
    list-style: none;
    padding: 0;
}

.scene {
    width: 260px;
    height: 400px;
    margin: 5rem 5rem;
    float: left;
    perspective: 1000px;
}
.poster {
    width: 50%;
    height: 50%;
    background-color: v(secondary);
    transform: translatex(-130px) translatez(-130px) rotateY(-90deg);
}
.poster-container {
    background-size: 100% 100%;
    background-position: center;
    height: 100%;
}
.movie {
    width: 260px;
    height: 400px;
    transform-style: preserve-3d;
    transform: translateZ(-130px);
    transition: all 350ms;
    background-color: v(primary-light);

    .img-thumbnail {
        display: flex;
        justify-content: center;
        background: linear-gradient(85deg, #240e03, #2727af);
        border-bottom: 2px solid red;
    }
    .main {
        padding: 1rem;

        .github-link {
            color: v(primary);
            &:hover {
                color: v(primary-dark);
                text-decoration: underline;
            }
        }

        > p {
            margin-top: 1rem;
        }
    }
}
.movie:hover {
    transform: translatez(100px) translateX(130px) rotateY(78deg);
}
.movie:hover::before {
    box-shadow: inset -300px 0px 40px rgba(255, 255, 255, 0.6);
    z-index: 1;
}
.movie::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;

    transition: box-shadow 350ms;
}
.movie::after {
    content: "";
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.3);
    transform-origin: 100% 100%;
    transform: rotateX(90deg);
    transition: box-shadow 350ms;
}

.movie:hover::after {
    box-shadow: 20px -5px 50px rgba(0, 0, 0, 0.3);
}
.movie .poster,
.movie .info {
    position: absolute;
    width: 260px;
    height: 400px;
    backface-visibility: visible;
}

.poster--button {
    height: 2rem;
    width: 6rem;
    background-color: #00000000;

    border: 2px solid #222222;
    border-radius: 4px;

    box-shadow: 0 0 4px 0px black;

    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;

    transition: all 100ms ease;

    &:hover {
        background-color: #ffffff34;
        box-shadow: 0 0 8px 0px black;
        transform: translate(-2px, -2px);
    }
}

@media only screen and (max-width: 991px) {
    .stage {
        flex-direction: column;
    }
}
